<!DOCTYPE html>
<html>
  <head>
    <title>{{= request.title or 'The Siki Project' }}</title>
    <link rel="stylesheet/less" type="text/css" href="{{= URL (r = request, c = 'static', f = 'css/base.css') }}" />
    <link rel="stylesheet/less" type="text/css" href="{{= URL (r = request, c = 'static', f = 'css/head.css') }}" />
    <link rel="stylesheet/less" type="text/css" href="{{= URL (r = request, c = 'static', f = 'css/stats.css') }}" />
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/less.js')}}"></script>
  </head>
  <body>
    <div id="main">
      <div id="login">
	{{ if not check_logged_in (): }}<a href="{{= URL(r=request, c='default', f='user', args=['login']) }}">Login</a>{{ else: }}
	<a href="{{= URL(r=request, c='default', f='user', args=['logout']) }}">Logout</a>
	{{ pass }}
      </div>
      <div class="sep"></div>
      <div>
	<header id="title">
	  <h1>The Sicki Project</h1>
	  <nav>
	    <a href="#">Main</a><a href="{{= URL (r = request, c = 'web', f = 'events') }}">Events</a><a href="#">Diseases</a>
	  </nav>
	</header>
      </div>
      {{ include }}
    </div>
  </body>
</html>
