<!DOCTYPE html>
<html>
  <head>
    <title>{{= request.title or 'The Sicki Project' }}</title> 
    <link rel="stylesheet" type="text/css" href="{{= URL (r = request, c = 'static', f = 'css/base.css') }}" />
    <script type="text/javascript" src="{{= URL (r = request, c = 'eid', f = 'proposals.js')}}"></script>

  </head>
  <body>
    {{ include "login.html" }}
    <H1> Proposals: </H1>
    <H2>PENDING</H2>
    <div id="pending"></div>
    <H2>ACCEPTED</H2>
    <div id="accepted"></div>
    <H2>REJECTED</H2>
    {{=rejected}}
    <div id="rejected"></div>
  </body>
</html>
