<!DOCTYPE html>
<html>
  <head>
    <title>{{= request.title or 'The Sicki Project' }}</title>
    <link rel="stylesheet" type="text/css" href="{{= URL (r = request, c = 'static', f = 'css/base.css') }}" /> 
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/jquery.min.js')}}"></script> 
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/wigglemaps/wigglemaps.js')}}"></script> 
    <script type="text/javascript">
    $ (document).ready (function () {

	$ ('#map').css ('height', $ (window).height () - $ ('#map').position ().top - 25);

	var ramp = [
	    new wiggle.util.icolor (0.0, 0, 0, 0.0),
	    new wiggle.util.icolor (69, 117, 180, 225),
	    new wiggle.util.icolor (145, 191, 219, 225),
	    new wiggle.util.icolor (224, 243, 248, 225),
	    new wiggle.util.icolor (254, 224, 144, 225),
	    new wiggle.util.icolor (252, 141, 89, 225),
	    new wiggle.util.icolor (215, 48, 39, 225),
	];

	map = new wiggle.Map ('#map', {
	    base: 'none',
	    background: wiggle.util.fcolor (.05, .05, .05, 1.0),
	});
	map.extents (360);

	$.ajax ({
	    url: '{{= URL (r = request, c = "static/maps", f = "subunits.json") }}',
	    async: false,
	    dataType: 'json',
	    success: function (data) {
		base = wiggle.io.GeoJSON (data, {
		    style: {
			'fill-opacity': 0.0,
			'stroke': wiggle.util.fcolor (.7, .7, .7, 1.0)
		    }
		});
		map.append (base);
	    }
	});

	$.ajax ({
	    url: '{{= URL (r = request, c = "static/maps", f = "eids.asc") }}',
	    async: false,
	    dataType: 'text',
	    success: function (data) {
		layer = wiggle.io.AsciiGrid (data, {
		    map: function (min, max, val) {
			var tol = (max - min) * .05;
			if (val == 0)
			    return ramp[0];
			var p = (val - (min - tol)) / (max - min + 2 * tol);
			return ramp[(Math.floor (p * (ramp.length - 1) + 1))];
		    },
		    ramp: ramp,
		    blur: false,
		    style: {
			antialias: false
		    }
		});
		map.append (layer);
	    }
	});

	$.ajax ({
	    url: '{{= URL (r = request, c = "static/maps", f = "merge.json") }}',
	    dataType: 'json',
	    success: function (data) {
		return;
		shapes = wiggle.io.GeoJSON (data);

		map.click (function (p) {
		    console.log (shapes.contains (p).count ());
		});
	    }
	});
    });
</script>
  </head>
  <body>
    {{ include "login.html" }}
    <div class="main">
      <div id="map">
      </div>
    </div>
    </body>
</html>

