<div id="event-nav">
  <a class="control" href="{{= URL (r = request, c = 'eid', f = 'view', args = request.args) }}">Overview</a>
  <a class="control" href="{{= URL (r = request, c = 'eid', f = 'stats', args = request.args) }}">Statistics</a>
  <a class="control" href="{{= URL (r = request, c = 'eid', f = 'event_map', args = request.args) }}">Map</a>
  <a class="control" href="{{= URL (r = request, c = 'eid', f = 'wiki', args = request.args) }}">Wiki</a>
  <a class="control" href="{{= URL (r = request, c = 'eid', f = 'event_refs', args = request.args) }}">References</a>
</div>
