<!DOCTYPE html>
<html>
  <head>
    <title>{{= request.title or 'The Sicki Project' }}</title> 
    <link rel="stylesheet" type="text/css" href="{{= URL (r = request, c = 'static', f = 'css/base.css') }}" /> 
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/jquery.min.js')}}"></script> 
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/jquery.html.js')}}"></script> 
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/template.js')}}"></script>
    <script type="text/javascript" src="{{= URL (r = request, c = 'eid', f = 'proposals.js', args = [request.args (0)]) }}"></script>
   </head>
  <body>
    {{ include "login.html" }}
    <div id="main"> 
      <div id="title">Proposals: {{= event['event_name'] }}</div>
      <div id="props"></div>
    </div>
  </body>
</html>
