<!DOCTYPE html>
<html>
  <head>
    <title>{{= request.title or 'The Sicki Project' }}</title>
    <link rel="stylesheet" type="text/css" href="{{= URL (r = request, c = 'static', f = 'css/base.css') }}" /> 
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/jquery.min.js')}}"></script> 
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/refs.js')}}"></script> 
    <script type="text/javascript">
      var application = '{{= request.application }}';
      $ (document).ready (function () {
	  var refs = {{ response.write (json.dumps (refs), escape = False) }};
	  var collection = new ReferenceCollection (refs);
	  collection.append ('#refs');
	  /*$ ('#refs a').click (function (event) {
	      var format_data = function (key, value) {
		  if (key == 'creators') {
		      var authors = [];
		      for (var i = 0; i < value.length; i ++) {
			  authors.push (value[i]['firstName'] + ' ' + value[i]['lastName'])
		      }
		      return '<p><b>' + key + ':</b> ' + authors.join (', ') + '</p>';
		  }
		  else if (key == 'tags') {
		      var tags = [];
		      for (var i = 0; i < value.length; i ++) {
			  tags.push (value[i].tag)
		      }
		      return '<p><b>' + key + ':</b> ' + tags.join (', ') + '</p>';
		  }
		  else {
		      return '<p><b>' + key + ':</b> ' + value + '</p>';
		  }
	      };
              var link = $ (this);
              // if we are not yet expand, then expand, else collapse
              if (link.parent ().next ().attr ('class').search('expanded-ref') == -1) {
                  var ref_id = link.attr('class');
                  var style = link.parent().attr('class');
                  $.ajax ({
		      url: '{{= URL (r = request, f = 'ref') }}/' + ref_id,
		      dataType: 'json',
		      success: function (data) {
			  var div = $('<div class="'+style+' expanded-ref"></div>');
			  for (var key in data) {
			      div.append (format_data (key, data[key]));
			  }
			  link.parent ().after (div);
		      }
		  });
              }
              // collapse
	      else {
		  link.parent ().next ().toggle (400);
	      }
	      event.preventDefault ();
	      return false;
	  });*/
      });
    </script>
  </head>
  <body>
    {{ include "login.html" }}
    <div id="refs">
    </div>
  </body>
</html>
