<!DOCTYPE html>
<html>
  <head>
    <title>{{= request.title or 'The Sicki Project' }}</title> 
    <link rel="stylesheet" type="text/css" href="{{= URL (r = request, c = 'static', f = 'css/base.css') }}" /> 
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/jquery.min.js')}}"></script> 
    <script type="text/javascript" src="{{= URL (r= request, c = 'static', f = 'js/wigglemaps/wigglemaps.js')}}"></script> 
    <script type="text/javascript" src="{{= URL (r = request, c = 'eid', f = 'fields.js') }}"></script>
    <script type="text/javascript">
      $ (document).ready (function () {
          {{ if geodata: }}
	  var geodata = {{ response.write (json.dumps (geodata.get ('map')), escape = False) }};
	  {{ else: }}
	  var geodata = null;
	  {{ pass }}
	  var map = new wiggle.Map ('#map');
	  var aspect = map.width () / map.height ();
	  if (geodata) {
	      var layer = wiggle.io.GeoJSON (geodata);
	      var bounds = layer.bounds;
	      map.camera.position (bounds.centroid ());
	      
	      var extent = 8 * Math.max (bounds.width (), bounds.height () * aspect)
	      map.extents (Math.min (extent, 360));
	      
	      map.append (layer);
	  }
      });
    </script>
  </head>
  <body>
    {{ include "login.html" }}
    {{ include "eid/nav.html" }}
    <div id="title">{{= event['event_name'] }}</div>
  <div id="view">
    <div class="left-pane">
      {{ for key in ['Pathogen', 'Location', 'Year', 'Driver', 'ZooType']: }}
      {{ jones = event.get ('jones') }}
      {{ value = (jones.get (key) if jones else '') }}
      <div class="fact"><span class="label">{{ = key }}</span> {{= value }}</div>
      {{ pass }}
    </div>
    <div class="right-pane">
      <div id="map"></div>
      <div class="refs">
	{{ for refname in references: }}
	<div class="refname">{{= refname.get ('title') }}</div>
	{{ pass }}
      </div>
    </div>
  </div>
</body>
</html>
