body {
    font-family: Helvetica;
    margin: 0px;
}
#login-wrapper {
    border-bottom: dashed 1px #ccc;
    text-align: right;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #336;
}

#map {
    height: 400px;
}

/*div#stats {
    margin-left: 20px;
    width: 400px;
    position: absolute;
}*/

div#submit-prop-wrapper {
    position: fixed;
    width: 50%;
    display: none;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 3;
    border: solid 1px black;
    overflow-y: scroll;
}

div#submit-prop {
    float: left;
    width: 50%
}

div#ref-prop {
    margin-left: 50%;
}

/*div#scrim {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    display: none;
    z-index: 2;
}*/

div#title {
    font-weight: bold;
    text-align: center;
    font-size: 1.75em;
    margin: 20px 0px 50px 0px;
}

div#right {
    margin-left: 420px;
    margin-right: 20px;
}

div.stat {
    margin: 20px;
}

div.sublist {
    margin: 10px 0px;
}

div.editing {
    margin: 10px 0px;
    padding: 10px 20px;
}

div.editing input.text {
    width: 200px;
    padding: 2px;
}

div.editing input.unit_value {
    width: 100px;
    padding: 2px;
}

a.control {
    padding: 10px;
}

.greyed {
    color: rgba(51,51,51,.8);
}

.ok {
    background-color: rgba(0,255,0,.5)
}

.vote {
    height: 25px;
    cursor: pointer;
}

.stat {
    display: table-row;
}

div.edit-title {
    font-size: 1.25em;
    font-weight: bold;
    margin: 20px 0px;
}

.edit-wrapper, .wrapper, .label, .cell {
    display: table-cell;
}

.label {
    font-weight: bold;
    font-size: 1.25em;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: right
}

.sublabel {
    font-weight: bold;
    margin-top: 2px;
}

.subitem {
    margin-left: 20px;
}

h2.edit-title {
    margin: 20px;
}

.prop-refs {
    margin-left: 100px;
    margin-top: 20px;
}

.prop-refs-title {
    font-weight: bold;
    font-size: 1.25em;
}

.prop-refs-name {
    margin: 20px 0px;
}

.accept {
    margin-left: 100px;
}

.outer {
    margin-bottom: 25px;
}

body {
    margin: 0px auto;
    font-family: Helvetica, sans-serif;
    background: #fefefe;
    color: #444;
}

div.header-title {
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0px;

    margin-left: 20px;
    margin-right: 20px;
}

.header .nav {
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;

    background: #95a7d0; /* Old browsers */
    background: -moz-linear-gradient(top, #95a7d0 0%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95a7d0), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #95a7d0 0%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #95a7d0 0%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #95a7d0 0%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #95a7d0 0%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95a7d0', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.header .nav a {
    display: inline-block;
    padding: 10px;
    color: #336;
}

.main {
    margin: 0px 20px;
}

.expanded-ref {
    padding-left: 60px !important;
}

.even-ref {
    background-color: #fff;
    padding: 6px 0 6px 30px;
}

.odd-ref {
    background-color: #eee;
    padding: 6px 0 6px 30px;
}

#prop-link {
    margin-left: 50px;
}

span.caption {
    font-size: .85em;
    padding: 0px 5px;
    color: #999;
}

div. {

}

#stats div.statistic {
    padding: 20px;
}

div.even {
    background-color: #eee;
}

div.odd {
    background-color: #fff;
}

#stats .main {
    margin: 15px;
}

#stats div.value {
}

#stats div.proposals {
    display: none;
}

#stats div.controls {
    text-align: right;
    margin: 10px 0px;
}

#stats a.contol {
    padding-left: 5px;
}

div.title {
    font-size: 1.5em;
    font-weight: bold;
}

div.subtitle {
    font-size: 1.25em;
    font-weight: bold;
    margin: 15px 0px;
}

#stats .prop {
    margin: 15px;
}

.prop .refs {
    margin-left: 50px;
}

.prop .ref {

}

/* Proposal popup window styles*/
#proposal-popup {
    display: none;
    position: fixed;
    background-color: white;
    z-index: 3;
    border: solid 1px black;
    padding: 20px;
 }

#proposal-popup .proposal-main {
    overflow-y: auto;
}

#proposal-popup .edit {
    float: left;
}

#proposal-popup .refs {

}

#proposal-popup .refs .query {
    width: 95%;
}
#proposal-popup .controls {
    text-align: right;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px;
}

div#nav {
    text-align: center;
}