@LOCWIDTH: 250px;
@NEGINDENT: 20px;

#location {
    float: right;
    width: @LOCWIDTH;
}

#stats {
    margin-right: @LOCWIDTH + 25px;
}

#stats p {
    margin-bottom: 10px;
    padding-left: @NEGINDENT;
    text-indent: -@NEGINDENT;
}

#stats label {
    display: inline-block;
    /*font-family: Trebuchet MS, arial, sans-serif;*/
    /*color: #7597d0;*/
    /*color: #aaa;*/
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.25em;
    width: 200px;
    text-align: right;
}

#location .loc {
    display: block;
    width: 250px;
    height: 250px;
}

#location figcaption {
    text-align: center;
    font-size: .8em;
    font-family: arial, sans-serif;
    color: #999;
    margin: 5px;
}