div
  div.value
    span.show-edit= "Edit"
    span.name= label + ': '
    span.value= value
  div.edit
    input(class = 'text', value = value)
    input(class = 'commit', type = 'submit', value = 'Commit')
