{{ extend "layout.html" }}
<div id="map">
</div>
<script type="text/javascript">
    $ (document).ready (function () {

	$ ('#map').css ('height', $ (window).height () - $ ('#map').position ().top - 25);

	var ramp = [
	    new Color (0.0, 0, 0, 0.0),
	    new Color (69, 117, 180, 225),
	    new Color (145, 191, 219, 225),
	    new Color (224, 243, 248, 225),
	    new Color (254, 224, 144, 225),
	    new Color (252, 141, 89, 225),
	    new Color (215, 48, 39, 225),
	];

	map = new Map ('#map', {
	    base: 'none',
	    background: fcolor (.05, .05, .05, 1.0),
	});
	map.extents (360);

	$.ajax ({
	    url: '{{= URL (r = request, c = "static/maps", f = "subunits.json") }}',
	    async: false,
	    dataType: 'json',
	    success: function (data) {
		base = GeoJSON (data, {
		    style: {
			'fill-opacity': 0.0,
			'stroke': fcolor (.7, .7, .7, 1.0)
		    }
		});
		map.append (base);
	    }
	});

	$.ajax ({
	    url: '{{= URL (r = request, c = "static/maps", f = "merge.asc") }}',
	    async: false,
	    dataType: 'text',
	    success: function (data) {
		layer = AsciiGrid (data, {
		    map: function (min, max, val) {
			var tol = (max - min) * .05;
			if (val == 0)
			    return ramp[0];
			var p = (val - (min - tol)) / (max - min + 2 * tol);
			return ramp[(Math.floor (p * (ramp.length - 1) + 1))];
		    },
		    ramp: ramp,
		    blur: false,
		    style: {
			antialias: true
		    }
		});
		map.append (layer);
	    }
	});

	$.ajax ({
	    url: '{{= URL (r = request, c = "static/maps", f = "merge.json") }}',
	    dataType: 'json',
	    success: function (data) {
		return;
		shapes = GeoJSON (data);
		
		map.click (function (p) {
		    console.log (shapes.contains (p).count ());
		});
	    }
	});
    });
</script>