{{ extend "layout.html" }}
{{ if check_logged_in (): }}
<div id="insert-new-event">
  <a href="{{= URL (r = request, f = 'insert') }}">Insert New Event</a>
</div>
{{ pass }}

<div class="event-sort">
  Sort By: <select id="sort_events">
    <option value=""></option>
    {{ for field in get_event_fields (): }}
    <option value="{{= field['name']}}" {{if sort == field: }} selected="selected" {{ pass }}>{{= field.get ('label') or field['name'] }}</option>
    {{ pass }}
  </select>
</div>

{{ for event in events: }}
<div class="event-link"><a href="{{= URL (r = request, a = request.application, c = 'web', f = 'stats', args = [str (event['_id'])]) }}">{{= event.get ('event_name') }}</a> {{ if sort: }}({{= format_field (sort, event.get (sort['name'])) }}){{ pass }}</div>
{{ pass }}

<script type="text/javascript">
  $ ('#sort_events').change (function () {
      var val = $ (this).val ();
      var base = '{{= URL (r = request) }}';
      if (val.length)
	  base += '?sort=' + val
    window.location.href = base;
  });
</script>
