{{ extend "layout.html" }}
<div id="map">
</div>
<script type="text/javascript">
    $ (document).ready (function () {

	$ ('#map').css ('height', $ (window).height () - $ ('#map').position ().top - 25);

	map = new Map ('#map');
	map.extents (360);

	$.ajax ({
	    url: '{{= URL (r = request, c = "web", f = "network_json") }}',
	    dataType: 'json',
	    success: function (data) {
		lookup = {}
		points = new PointLayer ();
		lines = new LineLayer ();
		for (var i = 0; i < data.length; i ++) {
		    points.append ({
			geom: [data[i].geom]
		    });
		    lookup[data[i].id] = data[i];
		}
		for (var i = 0; i < data.length; i ++) {
		    for (var j = 0; j < data[i].neighbors.length; j ++) {
			var other = lookup[data[i].neighbors[j]];
			lines.append ({
			    geom: [data[i].geom, other.geom]
			});
		    }
		}
		
		map.append (lines);
		map.append (points);
	    }
	});
    });
</script>