{{ extend "layout.html" }}
  <section id="content">
    <header>
      <h2>{{= event['event_name'] }}</h2>
    </header>
    <section id="location">
      <img class="loc" src="{{= URL (r = request, c = 'static', f='temp/screen.png') }}" />
      <figcaption>Outbreak Location</figcaption>
    </section>
    
    <section id="stats">
      {{for field in event_fields: }}
      <p><label>{{= field.get ('label') or field.get ('name') }}</label>{{= event[field['name']] }}</p>
      {{ pass }}
    </section>
  </section>
  
  <footer>
  </footer>
