template(name="eidEvent")
  {{#each fields}}
    {{#if isPathogen}}
      .event-field(data-field-name="{{name}}") {{label}}
        {{#each proposals}}
          .proposal(data-proposal-id="{{proposalId}}")
            span {{pathogen.reported_name}}&nbsp;&nbsp;
            {{#if userEmail}}
              span Proposed by {{userEmail}} on {{date}}
              {{#if canAccept}}
                button.accept-button Accept
              {{/if}}
            {{/if}}
        {{/each}}
        .add-proposal
          span Value:&nbsp;
          input.add-pathogen-value(type="text")
          span &nbsp;
          span References:&nbsp;
          span.reference-list(data-reference-ids="")
          input.add-proposal-references(type="text")
          span &nbsp;
          button.add-proposal-button Add Proposal
    {{else}}
      .event-field(data-field-name="{{name}}") {{label}}
        {{#each proposals}}
          .proposal(data-proposal-id="{{proposalId}}")
            span {{value}}&nbsp;&nbsp;
            {{#if userEmail}}
              span Proposed by {{userEmail}} on {{date}}
              {{#if canAccept}}
                button.accept-button Accept
              {{/if}}
            {{/if}}
        {{/each}}
        .add-proposal
          span Value:&nbsp;
          input.add-pathogen-value(type="text")
          span &nbsp;
          span References:&nbsp;
          span.reference-list(data-reference-ids="")
          input.add-proposal-references(type="text")
          span &nbsp;
          button.add-proposal-button Add Proposal
    {{/if}}
  {{/each}}


