template(name="eidEventField")
  .event-field(data-field-name="{{name}}") {{label}}
    {{#each proposals}}
      .proposal 
        span {{value}}&nbsp;&nbsp;
        span {{date}}&nbsp;&nbsp;
    {{/each}}
    .add-proposal
      input.add-proposal-value(type="text")
      button.add-proposal-button Add Proposal

template(name="eidEvent")
  {{#each fields}}
    {{> eidEventField}}
  {{/each}}


