template(name="eidEvent")
  .event-name(field='event_name')
    span Event Name
    input.event-property(type="text", value="{{event.event_name}}")

  .pathogens
    span Pathogens
    {{#each pathogens}}
      .pathogen(pathogen_id="{{_id}}")
        .pathogen-reported-name
          span Reported Name
          input(type="text", value="{{reported_name}}")
        .pathogen-genus
          span Genus
          input(type="text", value="{{genus}}")
        .pathogen-species
          span Species
          input(type="text", value="{{species}}")
        .pathogen-sub-species
          span Sub-Species
          input(type="text", value="{{sub_species}}")
    {{/each}}

  .location(field='location')
    span Location
    input.event-property(type="text", value="{{event.location}}")

  .host(field='host')
    span Host
    input.event-property(type="text", value="{{event.host}}")

  .disease(field='disease')
    span Disease
    input.event-property(type="text", value="{{event.disease}}")

  .start-date(field='start_date')
    span Start Date
    input.event-property(type="text", value="{{event.start_date}}")

  .end-date(field='end_date')
    span End Date
    input.event-property(type="text", value="{{event.end_date}}")

  .host-age(field='host_age')
    span Host Age
    input.event-property(type="text", value="{{event.host_age}}")
