template(name="header")
  .header
    h1 The Sicki Project
  {{> accounts}}
  {{> nav}}

template(name="nav")
  #nav
    a#nav-list EID Events
    a#nav-refs References
    {{#if admin}}
      a#nav-admin Admin
    {{/if}}
