body
  {{> header}}
  #main
    {{> contentIfLoggedIn}}

template(name="contentIfLoggedIn")
  {{#if user}}
    {{> content}}
  {{else}}
    .login-required-message Log in to view EID Events
  {{/if}}

template(name="content")
  {{#if selectedId}}
    {{> editPage}}
  {{else}}
    {{> table}}
  {{/if}}


template(name="editPage")
  {{#if eidTable}}
    {{> eidEvent}}
  {{/if}}
  {{#if referenceTable}}
    {{> reference}}
  {{/if}}
  {{#if userTable}}
    {{> user}}
  {{/if}}


template(name="table")
  {{#if eidTable}}
    {{> eidTable}}
  {{/if}}
  {{#if referenceTable}}
    {{> referenceTable}}
  {{/if}}
  {{#if userTable}}
    {{> userTable}}
  {{/if}}
