template(name="table")
  .loading-message Loading table...

  .table-container

    table.table.table-striped.table-bordered(id='{{tableId}}', cellpadding="0", cellspacing="0", border="0")
      thead
        tr
          {{#each fields}}
            th {{label}}
          {{/each}}
      tbody
        {{#if rows}}
          {{#each rows}}
            tr.odd.gradeX('data-id'='{{_id}}')
              {{#each data}}
                td(col='{{field}}') {{../../renderField value}}
              {{/each}}
          {{/each}}
        {{/if}}
