mixin textField(field, value)
  div
    span.name= field.name + ': '
    span.value= value
  div.edit
    input(value = value)
  
div
  if field.type == 'text' || field.type === undefined
    mixin text(field, model[field.name])