@import "colors"

.field
  padding 5px
  margin 5px
  border 1px solid darkBackground

.field-title
  font-size 1em

.top-proposal
  font-size .9em

.proposal-list
  font-size .9em

.proposal
  background-color lightBackground

.add-proposal
  margin 10px