@import "colors"

.event-field
  padding 5px
  margin 5px
  border 1px solid darkBackground

.event-field-title
  font-size 1.2em

.proposal
  background-color lightBackground

.add-proposal
  margin 10px