@import "colors"

.header
  color mediumText
  float left

#nav
  clear both
  background-color darkBackground
  height 40px
  margin-bottom 20px

#nav a
  float left
  margin 10px
  color black
  font-family Helvetica, sans-serif
  font-size 110%
  cursor pointer
