@import "colors"

.loading-message
  text-align center
  padding 20px 50px

.table-container
  display none
  text-align center

.toggle-edit, .column-control button
  background-color lightBackground
  color mediumText
  padding 5px
  margin 5px
  border-radius 5px
  cursor pointer

.toggle-edit:hover, .column-control button:hover
  background-color darkBackground

.table-control-row
  clear both
  padding-bottom 5px

.column-control, .filter-control
  float right
  
.table
  text-align left